# SYSTEM & LOGS
.DS_Store
Thumbs.db
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
testem.log
/libpeerconnection.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
pids
*.pid
*.seed
*.pid.lock
.temp
.tmp
/connect.lock

# BUILD & DEPENDENCIES
node_modules/
dist/
/frontend/dist/
/backend/dist/
build/
/backend/build/
/out-tsc
/bazel-out
/jspm_packages/
/web_modules/
*.tsbuildinfo
.npm
.eslintcache
.stylelintcache
*.tgz
.yarn-integrity

# IDE
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json

# ENVIRONMENT
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# ANGULAR / NESTJS / TESTS SPECIFIC
.angular/
/.angular/cache
/frontend/.angular/cache
.sass-cache/
coverage/
*.lcov
.nyc_output
__screenshots__/
/typings/

# DOCKER & DB
/mongo-data/
/data/db/
.docker/
docker-compose.override.yml

# FRAMEWORK DUST
.cache
.parcel-cache
.next
out
.nuxt
.svelte-kit/
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.firebase/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
