@if (roomState$ | async; as room) {
  <div>
    <button (click)="leave()">Raum verlassen</button>
    <h2>Room: {{ room.name }}</h2>
    <p>Status: {{ room.status }}</p>

    <hr />

    <h3>Teilnehmer</h3>
    @for (p of room.participants; track p.userId) {
      <div>
        <strong>{{ p.name }}</strong>

        @if (room.status === 'voting') {
          <span>
            @if (p.vote === null) {
              Noch nicht geschätzt
            } @else {
              Geschätzt
            }
          </span>
        }

        @if (room.status === 'revealed') {
          <span>{{ p.vote ?? 'Kein Vote' }}</span>
        }
      </div>
    }

    <hr />

    @if (room.status === 'voting') {
      <div>
        <h3>Wähle eine Karte</h3>
        @for (value of fibonacci; track value) {
          <button (click)="vote(value)" style="margin-right: 5px">
            {{ value }}
          </button>
        }

        <br /><br />
        <button (click)="reveal()">Aufdecken</button>
      </div>
    }

    @if (room.status === 'revealed') {
      <div>
        <h3>Ergebnis</h3>
        <p>Durchschnitt: {{ room.results?.average }}</p>
        <p>Häufigster Wert: {{ room.results?.mostCommon }}</p>
        <p>Empfehlung: {{ room.results?.recommendation }}</p>

        <button (click)="reset()">Neue Runde</button>
      </div>
    }
  </div>
} @else {
  <p>Warten...</p>
}
