<div class="info-section">
  <h2 class="info-title">So funktioniert's</h2>

  <div class="steps-wrapper">
    <div class="step-item">
      <div class="circle">
        <calc-text textMedium colorWhite>1</calc-text>
      </div>
      <calc-text textLead class="step-headline">
        Raum erstellen oder beitreten
      </calc-text>
      <calc-text textSmall class="step-description">
        Erstelle einen neuen Raum und teile den Beitrittscode mit deinem Team oder
        trete einer laufenden Sitzung bei.
      </calc-text>
    </div>

    <div class="step-item">
      <div class="circle">
        <calc-text textMedium colorWhite>2</calc-text>
      </div>
      <calc-text textLead class="step-headline"> Gemeinsam schätzen </calc-text>
      <calc-text textSmall class="step-description">
        Alle Teammitglieder geben unabhängig ihre Story-Point-Schätzung mit
        Fibonacci-Karten ab.
      </calc-text>
    </div>

    <div class="step-item">
      <div class="circle">
        <calc-text textMedium colorWhite>3</calc-text>
      </div>
      <calc-text textLead class="step-headline"> Ergebnisse diskutieren </calc-text>
      <calc-text textSmall class="step-description">
        Nach dem Aufdecken werden alle Schätzungen visualisiert und gemeinsam
        besprochen.
      </calc-text>
    </div>
  </div>
</div>
